/*  your css code here. If applicable */
.p1{
	width: 90%;
	margin-top: 10px;
	background-color: rgb(255, 255, 255);
	padding: 10px;
}

.p2{
	background-color: rgb(255, 255, 255);
	padding: 10px;
}

a{
	text-decoration: none;
	color: black;
}

body{
	background-color: rgb(204, 204, 204);

}

.player_one{
	width: 70%;
	border: 2px solid black;
	text-align:center;
	background-color:white;
	border-radius: 10px;
	margin: 10px auto;
	background-color: rgb(255, 255, 255);
	padding: 10px;
	border-radius: 10px;
	
}



h2{
	text-align: center;
}
#main{
	
	width: 100vw;
	height: 100vh;
}
#song-list{
	border: 2px solid black;
	border-radius: 10px;
	background-color:white;
	
}
ul {
	list-style-type: none;
	}
h1{
	text-align: center;
}