  body {
      background-color: rgb(204, 204, 204);
      font-family: Arial, sans-serif;
    }

    h1 {
      text-align: center;
    }

    h2 {
      text-align: center;
    }

    ul {
      padding: 10px;
    }

    li {
      list-style-type: none;
      margin: 5px 0;
    }

    a {
      text-decoration-line: none;
      color: black;
    }

    .player_one,
    .player_two {
      background-color: rgb(255, 255, 255);
      padding: 15px;
      border-radius: 10px;
      width: 80%;
      margin: 15px auto;
    }

    video,
    audio {
      width: 100%;
    }